.splash-form-screen {
  position: relative;
  display: flex;
  justify-content: center;
}

.progress-container {
  position: absolute;
  width: 120px;
  height: 20px;
  top: 30px;
  right: 35px;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.dot {
  width: 8px;
  height: 8px;
  background-color: #000;
  border-radius: 30px;
  display: inline-block;
  margin-left: 15px;
  opacity: 10%;
}

.dot-active {
  opacity: 100%;
}

.form-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-title {
  position: absolute;
  top: 20px;
  left: 30px;
  line-height: 100%;
  font-size: 3rem;
}

.form-container .btn-disclaimer {
  margin-top: 40px;
  align-self: center;
  font-size: 48px;
  user-select: none;
}

.form-container .btn-disclaimer:hover {
  text-decoration: underline;
  cursor: pointer;
}

textarea {
  margin-top: 140px;
  width: 690px;
  height: 452px;
  border: none;
  background: repeating-linear-gradient(
    180deg,
    #ececec,
    #ececec 48px,
    #000 48px,
    #000 50px
    );
  background-size: 100px ;
  outline: none;
  resize: none;
  font-family: inherit;
  font-weight: 200;
  font-size: 28px;
  line-height: 50px;
  padding: 6px 10px;
}

textarea::placeholder {
  color: #c0c0c0;  
}
